/* 					Name: 				Yojana Vilas Patil
					Class Account #:	jadrn047
					REDID:				819676514
					Project #1									*/
*{
    margin: 0;
    padding: 0;
}
body {
	background-color: #FFDAB9;	
}
h1 {
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	color: #8B0000;
	font-size: 3em;
}
h2 {
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	color: #CD5C5C;
	font-size: 2em;
}
.banner {
	width: 1488px;
	min-height: 100%;
    margin: auto;
    position: relative;
}
.tabs {
	display: block;
    clear: both;
    text-align: center;
}
.main-menu { 
	background: #CD5C5C; 
	width: 100%;
	margin: 45px 0 45px 0; 
}
.sub-menu { 
	width: 100%; 
	margin: 0 auto; 
	overflow: hidden;
}
.sub-menu ul { 
	width: 100%; 
	list-style: none;
}
.sub-menu ul li { 
	list-style: none;
	float: left;
	padding: 15px;
	display: inline;
	width: 14.65%;
}
.sub-menu ul li a, .sub-menu ul li {
	color: #FFF;
	font-family: verdana;
	font-size: 16px;
	text-decoration: none;
	font-size: 18px;
	font-weight: bold;
}
.sub-menu ul li:hover, .sub-menu ul li.active{ 
	background: #FFA07A;
}
.img1 {
	width: 450px;
	height: 400px;
	box-shadow: 2px 2px 2px grey;	
}
.img2 {
	width: 500px;
	height: 400px;
	box-shadow: 2px 2px 2px grey;
}
.img3 {
	width: 500px;
	height: 400px;
	box-shadow: 2px 2px 2px grey;
}
#content img{		
    padding: 5px 5px 5px 5px;
	border-radius: 25px;
}
table {
    border-collapse: collapse;
    margin: 0 auto;
    margin-top: 25px;
}
table, th, td {
    border: 2px solid black;
}
th, td {
    padding: 15px;
    font-size: 25px;
    text-align: left;
}
td:nth-child(2n) { 
	background-color: #FAE5D3  ;
}

#table-division img {
	border: 3px solid black;
	width: 375px;
	box-shadow: 2px 2px 2px grey;
}
p { 
	padding-top: 10px;
	font-size: 25px;
}
#individual-content img {
	width: 375px;
	max-width: 100%;
	float: left;
	margin-right: 30px;
	box-shadow: 2px 2px 2px grey;
}
.clearfix {
	clear: both;
	margin-bottom: 25px;
}
.footer {
	width: 96%;
	float: left;
	background-color: #CD5C5C;
	color: #ffffff;
	padding: 15px 2%;
}
.flag {
	float: left;
	width: 280px;
	margin-left: 17%;
	box-shadow: 2px 2px 2px grey;
}
.header-text {
	float: left;
	margin-left: 39px;
}